<!DOCTYPE html>
<html lang="en">
<head>
    <title>IP API-API</title>
    <style>
        div {text-align: center;}
    </style>
</head>
<body>
    <div>
    {% block content %}
    <h2>IP Locator</h2>
    <form method="post">
        {{ form }}
        {% csrf_token %}
        <input type="submit" value="go">
    </form>
    <br>
    <a href="{% url 'history' %}">history</a>
    {% endblock %}
    </div>
</body>
</html>